#nav a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#nav #centertag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#nleft{
    display: flex ;
    gap: 30px;
}